/* Basic styling for the tabs */
.tab {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tab-content {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.tab-content.active {
    display: block;
}

/* .tab-form-group {
    display: flex;
    flex-direction: column;
    gap: 12px;
} */

.form-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Space between input boxes */
    margin-bottom: 5px; /* Space below the group */
}

.inr-symbol {
    position: absolute;
    left: 10px;
    top: 38px;
    font-size: 16px;
    color: #333;
}

input[type="number"] {
    padding-left: 20px;
}