.company-logo {
    height: 100px;
}

.container {
    max-width: 1000px;
}

table {
    width: 100%;
    text-align: left;
}

.center-align {
    text-align: center;
}
/* Set border color for elements with the 'border' class */
.border {
    border-color: black !important;
}