* {
    box-sizing: border-box;
}

body {
    width: 210mm;
    height: 297mm;
    margin: 0;
    /* Ensures no extra margin is applied */
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 12px;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
}

.col-fixed {
    float: left;
    box-sizing: border-box;
}

.col-12 {
    width: 100%;
}

.col-6 {
    width: 50%;
}

.col-4 {
    width: 33.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.border {
    border: 1px solid #000 !important;
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: right;
}

.p-2 {
    padding: 10px;
}

.p-4 {
    padding: 20px;
}

.mt-3 {
    margin-top: 20px;
}

.mb-3 {
    margin-bottom: 20px;
}

.ml-3 {
    margin-left: 20mm;
    /* Corrected from margin-bottom to margin-left */
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

/* Ensure layout is A4 size when printing */
@media print {
    @page {
        size: A4;
        width: 150cm;
        margin: 20mm;
        /* Set 20mm margin on all sides */
    }

    /* Hide print buttons or other elements */
    .btn {
        display: none;
    }
}